.dashboard-data h6 {
  font-weight: 400;
  margin-bottom: 10px;
}

.dashboard-data-card-title {
  font-size: 18px;
  font-weight: 700;
}

.dashboard-data-card-container-bottom {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  border-top: 1px solid #e1e1e1;
}

.dashboard-data-card-container-bottom-left {
}

.dashboard-data-card-container-bottom-left-text-regular {
  font-size: 12px;
  font-weight: 400;
}

.dashboard-data-card-container-bottom-left-text-bold {
  font-size: 12px;
  font-weight: 700;
}

.dashboard-data-card-container-bottom-right {
}

.dashboard-data-card-container-bottom-right-text-regular {
  font-size: 12px;
  font-weight: 400;
}

.dashboard-data-card-container-bottom-right-text-bold {
  font-size: 12px;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .dashboard-data {
    margin-top: 42px;
  }

  .dashboard-data-card {
    width: 330px;
    padding: 18px 18px;
  }
}
